<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTP:Accept-Encoding} gzip
  RewriteCond %{REQUEST_FILENAME}.gz -f
  RewriteRule ^(.*)$ $1.gz [QSA,L]
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(js|wasm|data|framework.js|unityweb)\.gz$">
    Header set Content-Encoding gzip
  </FilesMatch>
  <FilesMatch "\.js\.gz$">
    Header set Content-Type "application/javascript"
  </FilesMatch>
  <FilesMatch "\.wasm\.gz$">
    Header set Content-Type "application/wasm"
  </FilesMatch>
  <FilesMatch "\.data\.gz$">
    Header set Content-Type "application/octet-stream"
  </FilesMatch>
  <FilesMatch "\.framework.js\.gz$">
    Header set Content-Type "application/javascript"
  </FilesMatch>
  <FilesMatch "\.unityweb\.gz$">
    Header set Content-Type "application/octet-stream"
  </FilesMatch>
</IfModule>
